.full{
    display: flex;
    height: 100%;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    background-image: url(../images/bg-main-desktop.png);
    background-size: 487px 900px;
    background-repeat: no-repeat;
    &__front{
        position: relative;
        text-align: center;
        color: white;
        font-family: $mainFont;
        margin-right: 15%;
        margin-bottom: 35px;
        text-transform: uppercase;
     
        &__logo{
            position: absolute;
            top: 10%;
            left: 7%;
        }
        &__info{
            position: absolute;
            bottom: 12%;
            left: 5%;
            width: 90%;
            
            
            &__number{
                font-size: 1.7em;
                margin-bottom: 1em;
                letter-spacing: 3px;
                word-spacing: 3px;
            
            }
            &__data{
                display: flex;
                justify-content: space-between;
                letter-spacing: 2px;                
                P{
                    font-size: .9em;
                    padding: 0px 10px
                }
            }
        }      
    }
    &__back{
        position: relative;
        text-align: center;
        color: white;
        font-family: $mainFont;
       &__cvc{
        position: absolute;
            bottom: 48%;
            right: 55px;
       }       
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: $mainFont;
    font-size: 12px;
    color: $formColor;
    letter-spacing: 2px;
    text-transform: uppercase;

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: 45%;
        &__errors{
            margin-top: 5px;
            color: $errorColor;
            text-transform: none;
            letter-spacing: normal;
        }
        label{
            p{
            margin-bottom: 8px;
        }
        }
        input{
            width: 100%;
            height: 45px;
            font-family: $mainFont;
            font-size: 17px;
            padding-left: 10px;
            border: 1px solid $unactiveColor;
            border-radius: 8px;
            transition: 0.5s;
            
            &:focus{
                outline: none;
                border: double 1px transparent;
                border-radius: 5px;
                background-image: linear-gradient(white, white), 
                                  $primaryGradient;
                background-origin: border-box;
                background-clip: padding-box, border-box;
            }
            
            &::placeholder{
                color: $unactiveColor;
            }
        }
        &__dateNcvc{
            display: flex;
            margin-bottom: 15px;
            input{
            width: 100%;            
            }
            &__date{
                width: 50%;
                input{
                    width: 45%;
                }

            }
        }
        button{
            height: 50px;
            border-radius: 8px;
            border-style: none;
            background-color: $formColor;
            color: white;
            font-family: $mainFont;
            font-size: 17px;
            letter-spacing: 1px;
            animation: 0s;
            @keyframes shake {
                0% { transform: translate(2px, 0px) rotate(0deg); } 
                33% { transform: translate(-4px, 0px) rotate(0deg); }                
                100% { transform: translate(2px, 0px) rotate(0deg); }
            }
            &:hover{
                background-color:  #47275A;
                cursor: pointer;
            }                      
        }
    }
    &__thankyou{
        display: none;      
        text-align: center;
        width: 50%;
        img{
            margin-bottom: 35px;
        }
        h1{
            letter-spacing: 4px;
            margin-bottom: 18px;
            font-size: 30px;
            font-weight: normal;
        }
        p{
            color: $greyColor;
            margin-bottom: 45px;
            font-size: 18px;
            text-transform: none;
            letter-spacing: normal;
            font-weight: normal;
        }
        button{
            height: 50px;
            border-radius: 8px;
            border-style: none;
            background-color: $formColor;
            color: white;
            font-family: $mainFont;
            font-size: 17px;
            letter-spacing: 1px;
            width: 100%;
            margin-bottom: 10px;
            &:hover{
                background-color:  #47275A;
                cursor: pointer;
            }
        }
    }
}
.attribution{
    font-size: 8px;
    margin: 0;
}
#dateTitle2{
    display: none;
}
@media only screen and (max-width: 1335px){
    #dateTitle1{
        display: none;
    }
    #dateTitle2{
        display: block;
    }
}
@media only screen and (max-width: 768px){
    body{
        height: auto;
    }
    .full{
        flex-direction: column;
    }
    .cards{
        width: 100%;
        background-image: url(../images/bg-main-mobile.png);
        background-size: 100% 75%;
        z-index: -9999;
        height: auto;
        align-items: center;
        &__front{
            margin-top: 125px;
            margin-right: 12%;
            text-align: center;
            img{
                width: 18rem;
            }
            &__logo{
                top: 5%;
                left: 2%;
                svg{
                    width: 70%;
                }
            }
            &__info{
                &__number{
                    font-size: 17px;                    
                }
                &__data{
                    font-size: 10px;
                    
                }
               
            }

        }
        &__back{
            position: absolute;
            z-index: -1;
            top: 30px;
            right: 25px;
            img{
                width: 18rem;
            }
            &__cvc{
                font-size: 10px;
                right: 40px;
            }
        }
    }
    .form{
        width: 100%;
        &__info{
            width: 90%;
        }
        &__thankyou{
            width: 90%;
        }
    }

}
