$primaryGradient: linear-gradient(0deg, hsl(249, 99%, 64%) 0%, hsl(278, 94%, 30%) 100%);
$errorColor: #ff5252;
$unactiveColor: hsl(270, 3%, 87%);
$formColor: #21092f;
$greyColor: hsl(279, 6%, 55%);
$mainFont: 'Space Grotesk', sans-serif;
