$primaryGradient: linear-gradient(0deg, hsl(249, 99%, 64%) 0%, hsl(278, 94%, 30%) 100%);
$errorColor: hsl(0, 100%, 66%);
$unactiveColor: hsl(270, 3%, 87%);
$formColor: hsl(278, 68%, 11%);
$phColor: hsl(279, 6%, 55%);
$mainFont: 'Space Grotesk', sans-serif;
